In [1]:
import requests
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup

Obtaining the information on the web page

In [2]:
URL = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'

page = requests.get(URL)

soup = BeautifulSoup(page.content, 'html.parser')

Obtaining all data in the table of postal code

In [3]:
rows = soup.find_all('tr')

In [4]:
for row in rows:
    row_td = row.find_all('td')

In [5]:
str_cells = str(row_td)
cleantext = BeautifulSoup(str_cells, 'html.parser').get_text()

Removing the unnnecessary information and blank spaces

In [6]:
import re

list_rows = []
for row in rows:
    cells = row.find_all('td')
    str_cells = str(cells)
    clean = re.compile('<.*?>')
    clean2 = (re.sub(clean, '',str_cells))
    list_rows.append(clean2)

Configuring the dataframe

In [7]:
df = pd.DataFrame(list_rows)
df.head(10)

                                                   0
0                                                 []
1            [M1A\n, Not assigned\n, Not assigned\n]
2            [M2A\n, Not assigned\n, Not assigned\n]
3                 [M3A\n, North York\n, Parkwoods\n]
4          [M4A\n, North York\n, Victoria Village\n]
5  [M5A\n, Downtown Toronto\n, Regent Park, Harbo...
6  [M6A\n, North York\n, Lawrence Manor, Lawrence...
7  [M7A\n, Downtown Toronto\n, Queen's Park, Onta...
8            [M8A\n, Not assigned\n, Not assigned\n]
9  [M9A\n, Etobicoke\n, Islington Avenue, Humber ...

In [8]:
df1 = df[0].str.split(',', expand=True)
df1.head(10)

,0,1,2,3,4,5,6,7,8,9,...,21,22,23,24,25,26,27,28,29,30
0,[],None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
1,[M1A\n,Not assigned\n,Not assigned\n],None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
2,[M2A\n,Not assigned\n,Not assigned\n],None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
3,[M3A\n,North York\n,Parkwoods\n],None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
4,[M4A\n,North York\n,Victoria Village\n],None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
5,[M5A\n,Downtown Toronto\n,Regent Park,Harbourfront\n],None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
6,[M6A\n,North York\n,Lawrence Manor,Lawrence Heights\n],None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
7,[M7A\n,Downtown Toronto\n,Queen's Park,Ontario Provincial Government\n],None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
8,[M8A\n,Not assigned\n,Not assigned\n],None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
9,[M9A\n,Etobicoke\n,Islington Avenue,Humber Valley Village\n],None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None

In [9]:
df1[0] = df1[0].str.strip('[')
df1.head(10)

,0,1,2,3,4,5,6,7,8,9,...,21,22,23,24,25,26,27,28,29,30
0,],None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
1,M1A\n,Not assigned\n,Not assigned\n],None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
2,M2A\n,Not assigned\n,Not assigned\n],None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
3,M3A\n,North York\n,Parkwoods\n],None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
4,M4A\n,North York\n,Victoria Village\n],None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
5,M5A\n,Downtown Toronto\n,Regent Park,Harbourfront\n],None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
6,M6A\n,North York\n,Lawrence Manor,Lawrence Heights\n],None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
7,M7A\n,Downtown Toronto\n,Queen's Park,Ontario Provincial Government\n],None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
8,M8A\n,Not assigned\n,Not assigned\n],None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
9,M9A\n,Etobicoke\n,Islington Avenue,Humber Valley Village\n],None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None

In [10]:
df1[0] = df1[0].str.strip('\n')
df1.head()

,0,1,2,3,4,5,6,7,8,9,...,21,22,23,24,25,26,27,28,29,30
0,],None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
1,M1A,Not assigned\n,Not assigned\n],None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
2,M2A,Not assigned\n,Not assigned\n],None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
3,M3A,North York\n,Parkwoods\n],None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
4,M4A,North York\n,Victoria Village\n],None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None

In [11]:
df1[1] = df1[1].str.strip('\n')
df1[2] = df1[2].str.strip('\n]')
df1.head()

,0,1,2,3,4,5,6,7,8,9,...,21,22,23,24,25,26,27,28,29,30
0,],None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
1,M1A,Not assigned,Not assigned,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
2,M2A,Not assigned,Not assigned,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
3,M3A,North York,Parkwoods,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
4,M4A,North York,Victoria Village,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None

In [12]:
col_labels = soup.find_all('th')

In [13]:
all_header = []
col_str = str(col_labels)
cleantext2 = BeautifulSoup(col_str, 'html.parser').get_text()
all_header.append(cleantext2)
print(all_header)

['[Postal Code\n, Borough\n, Neighbourhood\n, Canadian postal codes\n]']

In [14]:
df2 = pd.DataFrame(all_header)
df2.head()

                                                   0
0  [Postal Code\n, Borough\n, Neighbourhood\n, Ca...

In [15]:
df3 = df2[0].str.split(',', expand=True)
df3.head()

                0           1                 2                          3
0  [Postal Code\n   Borough\n   Neighbourhood\n   Canadian postal codes\n]

In [16]:
frames = [df3, df1]
df4 = pd.concat(frames)
df4.head()

,0,1,2,3,4,5,6,7,8,9,...,21,22,23,24,25,26,27,28,29,30
0,[Postal Code\n,Borough\n,Neighbourhood\n,Canadian postal codes\n],NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,],None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
1,M1A,Not assigned,Not assigned,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
2,M2A,Not assigned,Not assigned,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
3,M3A,North York,Parkwoods,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None

In [17]:
df5 = df4.rename(columns=df4.iloc[0])
df5.head()

,[Postal Code\n,Borough\n,Neighbourhood\n,Canadian postal codes\n],NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,[Postal Code\n,Borough\n,Neighbourhood\n,Canadian postal codes\n],NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,],None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
1,M1A,Not assigned,Not assigned,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
2,M2A,Not assigned,Not assigned,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
3,M3A,North York,Parkwoods,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None

In [18]:
df5.shape

(186, 31)

In [19]:
df5.drop(df5.iloc[:, 3:30], inplace = True, axis = 1)

In [20]:
df5.head()

   [Postal Code\n      Borough\n   Neighbourhood\n
0  [Postal Code\n      Borough\n   Neighbourhood\n
0               ]           None              None
1             M1A   Not assigned      Not assigned
2             M2A   Not assigned      Not assigned
3             M3A     North York         Parkwoods

In [21]:
df5.describe()

       [Postal Code\n      Borough\n  Neighbourhood\n
count             186            185              184
unique            186             16              100
top               M3S   Not assigned     Not assigned
freq                1             77               77

In [22]:
df5.shape

(186, 3)

In [23]:
df6 = df5.dropna(axis=0, how='any')

In [24]:
df6.head()

   [Postal Code\n      Borough\n    Neighbourhood\n
0  [Postal Code\n      Borough\n    Neighbourhood\n
1             M1A   Not assigned       Not assigned
2             M2A   Not assigned       Not assigned
3             M3A     North York          Parkwoods
4             M4A     North York   Victoria Village

In [25]:
df6.shape

(184, 3)

In [26]:
df7 = df6.drop(df6.index[0])

In [27]:
df7.head()

  [Postal Code\n          Borough\n    Neighbourhood\n
1            M1A       Not assigned       Not assigned
2            M2A       Not assigned       Not assigned
3            M3A         North York          Parkwoods
4            M4A         North York   Victoria Village
5            M5A   Downtown Toronto        Regent Park

In [28]:
df7.rename(columns={'[Postal Code\n': 'Postal Code'},inplace=True)
df7.rename(columns={' Borough\n': 'Borough'},inplace=True)
df7.rename(columns={' Neighbourhood\n': 'Neighborhood'},inplace=True)
df7.head()

  Postal Code            Borough       Neighborhood
1         M1A       Not assigned       Not assigned
2         M2A       Not assigned       Not assigned
3         M3A         North York          Parkwoods
4         M4A         North York   Victoria Village
5         M5A   Downtown Toronto        Regent Park

In [29]:
df7.tail()

,Postal Code,Borough,Neighborhood
179,M8Z,Etobicoke,Mimico NW
180,M9Z,Not assigned,Not assigned
182,NL\n\nNS\n\nPE\n\nNB\n\nQC\n\nON\n\nMB\n\nSK\n...,NL,NS
183,NL,NS,PE
184,A,B,C

In [30]:
df7 = df7.drop([182, 183, 184])

In [31]:
df7.tail()

    Postal Code        Borough   Neighborhood
176         M5Z   Not assigned   Not assigned
177         M6Z   Not assigned   Not assigned
178         M7Z   Not assigned   Not assigned
179         M8Z      Etobicoke      Mimico NW
180         M9Z   Not assigned   Not assigned

In [32]:
df7.reset_index(drop=True, inplace=True)
df7.shape

(180, 3)

In [33]:
df7['Borough']=df7['Borough'].str.lstrip()
df7['Neighborhood']=df7['Neighborhood'].str.lstrip()

Checking if there is Borough Not assigned

In [34]:
indexdf = []
for i,row in enumerate(df7['Postal Code']):
    if df7.iloc[i,1]=='Not assigned':
        indexdf.append(i)   
print(len(indexdf))

77

In [35]:
df8 = df7.drop(df7.index[[indexdf]])

/Users/jairbarreto/opt/anaconda3/lib/python3.8/site-packages/pandas/core/indexes/base.py:3941: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.
  result = getitem(key)

In [36]:
df8.head(10)

   Postal Code           Borough      Neighborhood
2          M3A        North York         Parkwoods
3          M4A        North York  Victoria Village
4          M5A  Downtown Toronto       Regent Park
5          M6A        North York    Lawrence Manor
6          M7A  Downtown Toronto      Queen's Park
8          M9A         Etobicoke  Islington Avenue
9          M1B       Scarborough           Malvern
11         M3B        North York         Don Mills
12         M4B         East York     Parkview Hill
13         M5B  Downtown Toronto   Garden District

In [37]:
df8.shape

(103, 3)

In [38]:
df8.reset_index(drop=True,inplace=True)

Checking if there is a Neighborhood without assigment

In [39]:
k1=0
k2=0
for i, row in enumerate(df8['Postal Code']):
    if df8.iloc[i,2]=='Not assigned':
        df8.iloc[i,2]=df8.iloc[i,1]
        k1=k1+1  
    k2=k2+1    
print(k1,'Borough has not Neighborhood assigned')
print('The dataframe has',k2,'rows')

0 Borough has not Neighborhood assigned
The dataframe has 103 rows

In [40]:
df8.shape

(103, 3)

In [41]:
df8.head()

  Postal Code           Borough      Neighborhood
0         M3A        North York         Parkwoods
1         M4A        North York  Victoria Village
2         M5A  Downtown Toronto       Regent Park
3         M6A        North York    Lawrence Manor
4         M7A  Downtown Toronto      Queen's Park

Check if there is more than one neighborhood can exist in one postal code area

In [42]:
df81= df8
df91 = pd.DataFrame(columns=['Postal Code', 'Borough', 'Neighborhood'])
df81=df81.append({'Postal Code':'xxx', 'Borough':'xx', 'Neighborhood':'x'}, ignore_index=True)

for i in range(len(df81)):
    
    
    count1=0
    sw1=0
    sw2=0
    
    j= (i+1)
   
    for j in range(j,len(df81)):
            if df81.iloc[i,0]==df81.iloc[j,0]:
                string_neigh=df8.iloc[i,2]+","+df8.iloc[j,2]
                sw1=1
                count1=count1+1
                df81.iloc[j,0] = ""
                    
            if df81.iloc[i,0] != df81.iloc[j,0]:
                sw2=1
                sw1=0
                        
    if sw1==0 and sw2==1:
        if count1==0:
            df91= df91.append({'Postal Code':df8.iloc[i,0], 'Borough':df8.iloc[i,1], 'Neighborhood':df8.iloc[i,2]}, ignore_index=True)
                     
    if sw1==1 and sw2==1:
        if count1>0:
            df91= df91.append({'Postal Code':df8.iloc[i,0], 'Borough':df8.iloc[i,1], 'Neighborhood':string_neigh}, ignore_index=True)
            
    if sw1==0 and sw2==1:
        if count1>0:
            df91= df91.append({'Postal Code':df8.iloc[i,0], 'Borough':df8.iloc[i,1], 'Neighborhood':string_neigh}, ignore_index=True)  
            
    if df81.iloc[i,0]=="":
        count2=len(df91)-1
        df91=df91.drop(df91.index[count2])

In [43]:
df91.shape

(103, 3)

Part II

In [44]:
url = 'http://cocl.us/Geospatial_data'
dfgeo =pd.read_csv(url)

In [45]:
dfgeo.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [46]:
dfgeo.shape

(103, 3)

In [47]:
df91['Latitude'] = 'default value'
df91['Longitude'] = 'default value'

In [48]:
for i in range(len(dfgeo)):
    for j in range(len(df91)):
        if df91.iloc[j,0]==dfgeo.iloc[i,0]:
            df91.iloc[j,3]=dfgeo.iloc[i,1]
            df91.iloc[j,4]=dfgeo.iloc[i,2]

In [49]:
df91.head()

  Postal Code           Borough      Neighborhood Latitude Longitude
0         M3A        North York         Parkwoods  43.7533  -79.3297
1         M4A        North York  Victoria Village  43.7259  -79.3156
2         M5A  Downtown Toronto       Regent Park  43.6543  -79.3606
3         M6A        North York    Lawrence Manor  43.7185  -79.4648
4         M7A  Downtown Toronto      Queen's Park  43.6623  -79.3895

In [50]:
df91.tail()

,Postal Code,Borough,Neighborhood,Latitude,Longitude
98,M8X,Etobicoke,The Kingsway,43.6537,-79.5069
99,M4Y,Downtown Toronto,Church and Wellesley,43.6659,-79.3832
100,M7Y,East Toronto,Business reply mail Processing Centre,43.6627,-79.3216
101,M8Y,Etobicoke,Old Mill South,43.6363,-79.4985
102,M8Z,Etobicoke,Mimico NW,43.6288,-79.521